.imgBoxLotr{
    height: 500px;
    width: 333px;
}
.bookImgLotr{
    height: 100%;
    width: 100%;
    border-radius: 2.5%;
}
.booksLotr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cardContainerLotr{
    display: flex;
    flex-direction: column;
    
    margin: 1em;
}
.bookInfoLotr{
    width: 333px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nameBookLotr{
    text-align: center;
}