.imgBookContainer{
    height: 500px;
    width: 333px;
}
.imgBook{
    height: 100%;
    width: 100%;
    border-radius: 2.5%;
}
.booksLotr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.cardContainerLotr{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    margin: 1em;
}
.bookInfoLotr{
    width: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* .nameBookLotr{
    text-align: justify;
} */