.booksLotrContainer {
  background-image: url("https://i.gifer.com/KxK0.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cinzel", serif;
}
.booksTitleLotr {
  font-size: 3em;
  font-weight: bold;
  color: rgb(168, 168, 168);
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
  font-family: "Cinzel", serif;
}
.imgBoxLotr {
  height: 500px;
  width: 333px;
}
.bookImgLotr {
  height: 100%;
  width: 100%;
  border-radius: 2.5%;
  opacity: 60%;
}
.bookImgLotr:hover {
  opacity: 85%;
}
.booksLotr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cardContainerLotr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.bookInfoLotr {
  width: 333px;
  height: 120px;
  display: flex;
  flex-direction: column;
}
.nameBookLotr {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}

@media screen and (max-width: 768px) {
  .booksLotrContainer {
    height: auto;

  }
  
  .bookBoxLotr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
  }
  
  .bookImgLotr{
    height: 100%;
    width: 100%;
    border-radius: 2.5%;
    opacity: 60%;
  }
  .bookInfoLotr {
    width: 100%;
    height: 80%;
  }
  .nameBookLotr {
    font-size: 1.5em;
  }
}