.charContainerLotr{
    width: 100%;
}
.charactersLotr{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.cardCharactersLotr{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 266px;
    height: 500px;
}
.imgCharacter{
    height: 400px;
    width: 266px;
}
.imgCharacterContainer{
    height: 100%;
    width: 100%;
}
.cardInfoLotr{
    width: 266px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nameCharLotr, .raceCharLotr,.genderCharLotr{
    margin: 0;
}
