.containerLotr{
    width: 100%;
}
.charactersLotr{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.cardCharacterLotr{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 266px;
    height: 500px;
}
.imgCardLotr{
    height: 400px;
    width: 266px;
}
.cardImgLotr{
    height: 100%;
    width: 100%;
}
.cardInfoLotr{
    width: 266px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nameLotr, .raceLotr,.genderLotr{
    margin: 0;
}
