.hero-containerLotr {
    background: url("https://i.gifer.com/8hZR.gif") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    overflow: hidden;    
    
  }  
  
  .hero-containerLotr > h1 {
    
    color: #fff;
    font-size: 60px;
    margin-top: -100px;
    font-family: 'Cinzel', serif;
    
  }
  
  .hero-containerLotr> p {
    
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Cinzel', serif;
  }
  
  .hero-btnsLotr {
    padding-top: 30px;
  }

  .characterHeroLotr{
    margin:200px;
  }
  
  .hero-btnsLotr .btn {
    margin: 6px;
  }
  
  .fa-solid {
    font-size: 22px;
    margin-left: 6px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-containerLotr > h1 {
      font-size: 20px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-containerLotr > h1 {
      font-size: 25px;
      margin-top: -250px;
    }
  
    .hero-containerLotr > p {
      font-size: 20px;
    }
    .hero-btnsLotr {
      margin-top: -220px;
      padding-top: -20px;
    }
    .btn-mobile {
      
      display: block;
      text-decoration: none;
    }
  
    .btns {
      width: 100%;
    }
  }