.movieContainerLotr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, rgb(57, 57, 57) 0%, rgb(255, 255, 255) 100%);
  font-family: 'Cinzel', serif;
}
.moviesLotr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.nameMovieLotr {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 0.5em #000;
  font-family: "Cinzel", serif;
  margin: 0px;
}

.imgMovieContainerLotr {
  width: 333px;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardMoviesLotr {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgb(33, 3, 4);
  margin: 1em auto;
  background: white;
}
.imgMovieLotr {
  width: 100%;
  height: 500px;
}
.movieInfoLotr {
  width: 350px;
  display: flex;
  flex-direction: column;
  font-family: "Cinzel", serif;
  padding: 1em;
  text-align: justify;
}
.moviesTitleLotr{
  font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.descriptionMovieLotr{
  font-size: 1em;
  font-weight: light;
  color: black;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.nameMovieLotr{
  font-size: 1.5em;
  font-weight: light;
  color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}