
.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    color: black;
    font-family: 'Cinzel', serif;
    height: 50%;
}

.form-body{
    justify-content: center;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label {
    width: 40%;
}

.form_input{
    width: 100%;
}

.footer{
    text-align: left;
    font-family: 'Cinzel', serif;
}