body {
  margin: 0px;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.signup-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  padding: 40px;
  color: white;
  font-family: "Cinzel", serif;
  height: 100%;
}

.form-body {
  padding: 20px 10px;
}

.form-body > * {
  padding: 25px;
}

.form__label {
  width: 100%;
  margin: auto;
}

.form__input {
  align-items: right;
  width: 100%;
  margin: auto;
}

.form__label_email {
  width: 100%;
}
.email {
  display: flex;
  flex-direction: column;
}
.footer {
  text-align: justify;
  font-family: "Cinzel", serif;
}

.btnSignUp {
  background-color: #2f169c;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 100%;
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form-body {
    height: 350px;
    width:400px;
  }
  .btnSignUp {
    margin-top: 90%;
    font-size: 15px;
  }
}