/* 
.titleBuscador{
    text-align: center;
    width: 100%;
}
.containerBuscador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 0 auto;

} */