.booksHpContainer {
  background-image: url("./img/deathly-hallows.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBoxHp {
  height: 500px;
  width: 333px;
}
.bookImgHp {
  height: 100%;
  width: 100%;
  border-top-left-radius: 2.5%;
  align-items: center;
  justify-content: center;

  border-top-right-radius: 2.5%;
}
.booksHp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.booksHpTitle {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: "Cinzel", serif;
  text-shadow: -1px 0 rgb(146, 9, 9), 0 3px rgb(19, 103, 53), 3px 0 rgb(64, 49, 97), 0 -1px black;
}
.cardContainerHp {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 2.5%;
  box-shadow: 10px 0px 25px rgb(33, 3, 4);

  margin: 1em;
}

.bookInfoHp {
  width: 333px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cinzel", serif;
  color: white;
  border-radius: 5%;
  box-shadow: 10px 0px 25px rgb(33, 3, 4);
}
.nameBookHp {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .bookImgHp {
    height: 100%;
    width: 100%;
    border-top-left-radius: 2.5%;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 2.5%;
  }
  .imgBoxHp {
    height: 300px;
    width: 330px;
    align-items: center;
  }
  .booksHp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bookImgHp {
    height: 100%;
    width: 100%;
    border-top-left-radius: 2.5%;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 2.5%;
  }
  .bookInfoHp {
    font-size: 0.7em;
  }
  
}