.containerHp{
    width: 100%;
}
.charactersHp{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.cardCharacterHp{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 266px;
    height: 500px;
}
.imgCardHp{
    height: 400px;
    width: 266px;
}
.cardImgHp{
    height: 100%;
    width: 100%;
}
.cardInfoHp{
    width: 266px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nameHp, .birthdayHp,.houseHp, .actorHp{
    margin: 0;
}
