.imgBoxGot{
    height: 500px;
    width: 333px;
}
.bookImgGot{
    height: 100%;
    width: 100%;
    border-radius: 2.5%;
}
.booksGot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cardContainerGot{
    display: flex;
    flex-direction: column;
    
    margin: 1em;
}
.bookInfoGot{
    width: 333px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
