.containerGot{
    width: 100%;
}
.charactersGot{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.cardCharacterGot{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 266px;
    height: 500px;
}
.imgCardGot{
    height: 400px;
    width: 266px;
}
.cardImgGot{
    height: 100%;
    width: 100%;
}
.cardInfoGot{
    width: 266px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nameGot, .familyGot,.titleGot{
    margin: 0;
}




/* @media only screen and (max-width: 600px) {

    .characters-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 80%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }
} */
