/* body{
    background-color: rgb(24,24,24);   
} */

.footerGot-container {
    background-color: #181818;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/footerBackground.gif');
    /* https://www.gizmodo.com.au/wp-content/uploads/sites/2/2018/12/07/o0miigcvsubyt099t3c8.gif */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
  
    .footerGot-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    margin-bottom: 24px;
    padding: 24px;
    /* background-color: #181818; */
    color: #fff;
    }
  
    .footerGot-quote-text{
    font-family: 'Cinzel', serif;
    font-size: 1.7rem;
    }
  
    .footerGot-quote-author {
        font-family: 'Cinzel', serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 24px;
} 
  
  
    .footerGot-rights{
    /* background-color: #181818; */
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 16px;
    font-family: 'Cinzel', serif;
    }
  
 