.movieContainerGot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(204, 235, 255) 100%);

}
.moviesGot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.nameMovieGot {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 0.5em rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  margin: 0px;
}

.imgMovieContainerGot {
  width: 333px;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5%;
  border-bottom-left-radius: 2.5%;
}
.cardMoviesGot {
  display: flex;
  flex-direction: row;
  height: 625px;
  box-shadow: 0px 0px 15px rgb(176, 176, 176);
  margin: 1em auto;
  border-radius: 2.5%;
}
.imgMovieGot {
  width: 100%;
  height: 500px;
  
}
.movieInfoGot {
  width: 350px;
  display: flex;
  flex-direction: column;
  font-family: "Cinzel", serif;
  padding: 1em;
  font-weight: 500;
  background-image: linear-gradient(rgba(255, 255, 255, 1),rgba(159, 193, 255, 0.4)), url("https://img.freepik.com/free-photo/frost-texture-background_125540-1642.jpg?w=1060&t=st=1659119372~exp=1659119972~hmac=8241085fbae070f86b7c66dd620279382dd8bc8f8bae2dacd7e2e711b378daf6");
  border-top-right-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
}
.moviesTitleGot{
  font-size: 3em;
  font-weight: bold;
  color: rgb(225, 225, 225);
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black; 
  font-family: 'Cinzel', serif;
}

@media only screen and (max-width: 600px) {

  .movieContainerGot{
  display: flex;
  flex-direction: column;  
  gap: 30px;
  width: auto;
  height: auto;
  padding: 1em 1em;
  

  }
  .cardMoviesGot{
    height: auto;
    width: 100%;
  }

  .imgMovieGot{
    width: 100%;
    height: auto;
  }

  .movieInfoGot{
    width: 100%;
    height: auto;
  }

  .moviesTitleGot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }

  .descriptionMovieGot{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.7em;
    font-family: 'Cinzel', serif;
    text-align: justify;
  }


}